{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<section id="latest-posts">

    <h1>
        Posts amb la tag {{ tag.caption }}
    </h1>

    <div class="posts-container">

        {% for post in posts %}

            <div class="post">

                <a href="{% url 'posts-detail-page' post.slug %}">

                    <img src="{% static 'blog/images/'|add:post.image_name %}" alt="">

                </a>

                <div class="post-content">

                    <h3>{{ post.title }}</h3>

                    <p>{{ post.excerpt }}</p>

                </div>

            </div>

        {% endfor %}

    </div>

</section>

{% endblock %}